body {
  background-color: rgb(234, 250, 249);
}


h1 {
  color: #2e8b57; 
  text-align: center;
}


p {
  font-size: 20px;
  text-align: justify;
}

ul li {
  margin-bottom: 30px;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
  

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

table, th, td {
  border: 1px solid #999;
}

th {
  background-color: #dcdcdc;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}


  
a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  color: #ff4500;
}